<!-- <table>
    <thead>
        <th></th>
        <th>Name</th>
        <th>Modified</th>
        <th>Member</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Angular</td>
            <td>---</td>
            <td>Kian</td>
            <td><button>...</button></td>
        </tr>
    </tbody>
</table> -->

<h2>{{folder}}</h2>
<table>
    <thead>
        <th></th>
        <th>Name</th>
        <th>Modified</th>
        <th>Members</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr app-file *ngFor='let file of files' 
        [file]='file' (go)="changeFolder($event)"></tr>
    </tbody>
</table>